@page "/"

<PageTitle>Home</PageTitle>

<div id="splashscreen" class="band">
<a id="#top"></a>
	<h1>Hello, world!</h1>

	Welcome to your new app.
</div>

<div id="aboutBand" class="band">
	<a id="#about"></a>
<p>This application was assembled primarily by Jeff Fritz (@@csharpfritz) on his live coding stream from starting in July 2023.  It was used as part of .NET Conf 2023 and other events
</p>
</div>

